body {
	width: 960px;
	background-color: #777;
}

header {
	color: #777;
	background-color:#ebebeb;
	text-align: center;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 20px 20px 20px 20px;
	margin: 10px 100px 10px 100px;
}

nav {
	color: #777;
	background-color:#ebebeb;
	text-align:center;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 20px 20px 20px 20px;
	margin: 10px 100px 10px 100px;
}

section {
	color: #777;
	float: left;
	background-color: #ebebeb;
	text-align: center;
	font-size: 18px;
	margin-left:100px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 495px;
	height: 250px;
	margin-bottom: 20px;
	padding-top:10px;
}

article {
	color: #ebebeb;
	background-color: #777;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	font-color: #ebebeb;
	padding: 10px 10px 10px 10px;
}

aside {
	color: #777;
	float: right;
	margin-right: 100px;
	margin-bottom: 20px;
	width: 26%;
	height:250px;
	background-color: #ebebeb;
	text-align: center;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;	
	padding-top: 10px;
}

footer {
	color: #777;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	background-color: #ebebeb;
	margin: 100px 100px 10px 100px;
	padding: 20px 20px 20px 20px;
}

h1 {
	color: #777;
	background-color: #ebebeb;
	padding: 5px 5px 5px 5px;
}

p {
	color: #777;
	background-color: #ebebeb;
	padding: 5px 5px 5px 5px;
}


